body {
  text-align: center;
  margin: auto;
}

h2, label {
  font-family: 'Lato', sans-serif;
}

p {
  font-family:'Open Sans', sans-serif;
}

figure{
    max-height: 225px;
}

.card{
  width: 350px;
  margin-top: 20px;
  margin-right: 20px;
  height: auto;

  transition: all 0.3s;
  float:left;
}

button{
    margin-right: 10px;
}

.card-body{
  background-color: red;
}

.create{
    position: absolute;
}
